#main-banner {
    background: black;
background: linear-gradient(14deg, black 0%, rgb(46, 41, 0) 45%, black 100%); 
}


h3 {
    color: gainsboro;
}

button {
    border-radius: 3px;
}

#scroll-button {
    outline: 1px whitesmoke;
    transition: all 0.55s ease-in;
}

#scroll-button:hover {
    outline: 1px solid gold;
}

#scroll-button:active {
    background-color: lightgoldenrodyellow;
    transition: all 0.1s linear;
}