#reservation-card {
    background-color: palegoldenrod;
    margin: 5px;
    padding: 10px;
    width: 30%;

    outline: 3px solid black;
}

#card-title {
    outline: 1px solid black;
    background-color: whitesmoke;
    color: black;
    font-size: 16px;
    padding: 2px;
}

.time {
    color: black;
    font-size: 17px;

}

.colorfulBtn, a {
    margin: 3px;
    color: gainsboro;
}

.text-dark {
    color: gainsboro;
}