/* Layout css start */
body, html {
    font-family: sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

h3 {
    color: gainsboro;
    margin-bottom: 25px;
    margin-top: 3%;
}

h4 {
    border: 2px solid black;
    border-radius: 15%;
    background-color: gainsboro;
    padding: 3px;
}

span {
    color: gainsboro;
}

li {
    margin-right: auto;
}

.side-bar {
    min-width: 200px;
    background: black;
    background: linear-gradient(14deg, black 0%, rgb(27, 24, 0) 45%, black 100%);
}
  
#main-container {
    background: rgb(2,0,36);
    background: linear-gradient(344deg, rgba(2,0,36,1) 0%, rgb(80, 68, 0) 45%, rgba(0,0,0,1) 100%);
}

/* Layout css end */





/* Menu css start */

#background-container {
    height: 7rem;
    border-bottom: black solid 2px;
}

#logo {
    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 45px;
    width: fit-content;
    margin-left: 10px;
    margin-top: 5px;
    padding: 1rem 2.5rem;
    z-index: 1;
}

#nav {
    height:6.5rem;
    z-index: 2;
}

.nav-item {
    outline: 1px whitesmoke;
    border-radius: 3px;
    transition: all 0.55s ease-in;
}

.nav-item:hover {
    outline: 1px solid gold;
}

.nav-item:active {
    background-color: lightgoldenrodyellow;
    transition: all 0.1s linear;
}

.logo {
    border-radius: 5px;
    transition: all 0.55s ease-in;
}

.logo:hover {
    outline: 1px solid gold;
    color: gold;
}

.logo:active {
    background-color: lightgray;
    transition: all 0.1s ease-in;
}

/* Menu css end */






/* dashboard css start */

#main-banner {
    background: black;
    background: linear-gradient(14deg, black 0%, rgb(46, 41, 0) 45%, black 100%); 
}

.scroll-button {
    border: solid 1px black;
    transition: all 0.55s ease-in;
    color: whitesmoke;
    background-color: black;
}

.scroll-button:hover {
    border: 1px solid gold;
    color: whitesmoke;

}

.scroll-button:active {
    background-color: lightgoldenrodyellow;
    transition: all 0.1s ease-in;
}

/* Dashboard css end */






/* ReservationList css start */

#reservation-card {
    background-color: palegoldenrod;
    margin: 5px;
    margin-top: 15px;
    padding: 10px;
    width: 30%;
    outline: 2px solid black;
    border-radius: 5px;
}

#card-title {
    outline: 1px solid black;
    background-color: whitesmoke;
    color: black;
    font-size: 16px;
    padding: 2px;
}

.time {
    color: black;
    font-size: 17px;

}

.colorfulBtn, a {
    margin: 3px;
    color: gainsboro;
}

.text-dark {
    color: gainsboro;
}

/* ReservationList css end */





/* TableList css start */

#whole-card {
    background: url('./photos/table.jpg');
    margin: 5px;
    padding: 15px;
    width: 40%;
    border: 2px solid black;
    border-radius: 15px;
}

.red-box {
    background-color: red;
    padding: 1px;
    outline: 1px solid red;
}

.green-box {
    background-color: green;
    padding: 1px;
    outline: 1px solid green;
}

/* TableList css end */





/* NewReservation css start */

label {
    color: whitesmoke;
    font-size: 16px;
    padding: 8px;
}

input {
    padding: 5px;
    margin: 5px;
}

.button-new-res {
    padding: 5px 15px 5px 15px;
    margin: 0 5px 0 5px;
}

/* NewReservation css end */





/* EditReservation css start */

select {
    padding: 5px;
    margin: 5px;
}

/* EditReservation css end */





/* Search css start */

input {
    padding: 5px;
    margin: 10px;
}

.button-search {
    border-radius: 3px;
    padding: 5px 15px 5px 15px;
}

form {
    margin-top: 5%;
}

.button-white{
    color: whitesmoke;
    background-color: black;
    border: 0.5px whitesmoke;
}

.button-white:hover {
    border: 1px solid gold;
    transition: all 0.55s ease-in-out;
    
}

/* Search css end */





/* SeatTableForm css start */

.h3-seat-table-form {
    display: flex;
    justify-content: center;

}

.seat-table-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.seat-table-form-buttons {
    border: solid 1px black;
    transition: all 0.55s ease-in;
    color: whitesmoke;
    background-color: black;
    border-radius: 3px;

    margin: 5px;
    padding: 5px 10px;
    margin-bottom: 50%;
}

.seat-table-form-buttons:hover {
    border: 1px solid gold;
    color: whitesmoke;

}

.seat-table-form-buttons:active {
    background-color: lightgoldenrodyellow;
    transition: all 0.1s ease-in;
}

/* SeatTableForm css end */





/* TableForm css start */

.h3-table-form {
    display: flex;
    justify-content: center;

}

.tableForm-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.table-form-buttons {
    border: solid 1px black;
    transition: all 0.55s ease-in;
    color: whitesmoke;
    background-color: black;
    border-radius: 3px;

    margin: 5px;
    padding: 5px 10px;
    margin-bottom: 50%;
}

.table-form-buttons:hover {
    border: 1px solid gold;
    color: whitesmoke;

}

.table-form-buttons:active {
    background-color: lightgoldenrodyellow;
    transition: all 0.1s ease-in;
}

/* TableForm css end */
